@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 400;
  background-color: #f3e9b8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.player {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  box-shadow: 0 30px 45px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.video {
  z-index: 2;
  width: 100%;
}

/* ------------------------------ */

/* ------------------------------ */
.controls-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  transition: bottom 0.2s;
  bottom: 0;
}
.controls-box.hide {
  bottom: -64px;
  transition: bottom 0.2s;
}
.controls {
  z-index: 3;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sound-controls {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  width: 15%;
}
.playback-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0 auto;
  padding-right: 74.75px;
}

.play-pause,
.rewind,
.fast-forward,
.full-screen,
.sound {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  transition: color 0.1s;
  font-size: 14px;
}

.play-pause:hover,
.rewind:hover,
.fast-forward:hover,
.full-screen:hover,
.sound:hover {
  /* color: rgba(255, 221, 38, 0.5); */
  color: #f3e9b8;
  transition: color 0.1s;
}

.play-pause {
  font-size: 20px;
  color: rgb(255, 221, 38);
}

/* --- icon displaying --- */
.pause {
  display: none;
}

.icon-switch .play {
  display: none;
}
.icon-switch .pause {
  display: block;
}

.off {
  display: none;
}

.icon-switch .on {
  display: none;
}
.icon-switch .off {
  display: block;
}
