@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 400;
  background-color: #f3e9b8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.player {
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  box-shadow: 0 30px 45px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.video {
  z-index: 2;
  width: 100%;
}

/* ------------------------------ */

/* ------------------------------ */
.controls-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  transition: bottom 0.2s;
  bottom: -64px;
}
.controls-box.hide {
  bottom: 0;
  transition: bottom 0.2s;
}
.controls {
  z-index: 3;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.play-pause,
.rewind,
.fast-forward {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.play {
  color: #ffdd26;
}
.pause {
  color: #fff;
  display: none;
}

.icon-switch .play {
  display: none;
}
.icon-switch .pause {
  display: block;
}

.play-pause {
  font-size: 20px;
}

.rewind {
  color: #fff;
  font-size: 14px;
}

.fast-forward {
  color: #fff;
  font-size: 14px;
}
