* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "rubik", sans-serif;
  background-color: #ebfbee;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
}
